{{ if eq .osid "linux-fedora" -}}

{{ $repos := list
  "https://raw.githubusercontent.com/ruhigwolf/dotfiles/main/.repos/google-chrome.repo"
  "https://raw.githubusercontent.com/ruhigwolf/dotfiles/main/.repos/vscode.repo" -}}
{{ $copr := list
  "kylegospo/wallpaper-engine-kde-plugin"
  "lizardbyte/stable" -}}
{{ $packages := list
  "akmod-nvidia"
  "code"
  "google-chrome-stable"
  "fastfetch"
  "fish"
  "gh"
  "htop"
  "https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm"
  "info"
  "libva-nvidia-driver.{i686,x86_64}"
  "lutris"
  "mangohud"
  "prettyping"
  "shellcheck"
  "steam"
  "Sunshine"
  "tealdeer"
  "telnet"
  "vim"
  "wallpaper-engine-kde-plugin"
  "wine"
  "xorg-x11-drv-nvidia-cuda" -}}
{{ $flatpaks := list
  "org.blender.Blender"
  "com.bitwarden.desktop"
  "com.discordapp.Discord"
  "com.github.tchx84.Flatseal"
  "com.heroicgameslauncher.hgl"
  "io.github.MakovWait.Godots"
  "org.onlyoffice.desktopeditors"
  "org.freecad.FreeCAD"
  "com.surfshark.Surfshark"
  "com.obsproject.Studio"
  "community.pathofbuilding.PathOfBuilding"
  "com.vysp3r.ProtonPlus"
  "org.inkscape.Inkscape"
  "io.github.pwr_solaar.solaar"
  "org.deskflow.deskflow"
  "it.mijorus.gearlever"
  "com.brave.Browser"
   
   -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ range $repos }}
{{ $sudo }}dnf config-manager addrepo --overwrite --from-repofile={{ . }}
{{ end }}

{{ range $copr }}
{{ $sudo }}dnf copr enable -y {{ . }}
{{ end }}

# https://rpmfusion.org/Howto/Multimedia
{{ $sudo }}dnf swap -y ffmpeg-free ffmpeg --allowerasing
{{ $sudo }}dnf4 update -y @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin

{{ $sudo }}dnf install -y {{ $packages | join " " }}

{{ if lookPath "flatpak" }}
{{ $sudo }}flatpak remote-modify --disable fedora
flatpak install -y {{ $flatpaks | join " " }}
{{ end }}

{{ $sudo }}chsh -s "$(which fish)" "$(whoami)"

systemctl --user enable --now sunshine

{{ end -}}
